.btn {
    display:block;
    font-weight: bold;
    border: 3px solid;
    text-decoration: none;
}

.btnarea {
    width:100%;
    text-align:center;
}

.btnareaone {
}

.btnareatwo {
    display:flex;
    margin-top: 10px;
}

.memobtn {
    font-size:80px;
}
.halfbtna {
    font-size:40px;
    width: 50%;
    margin-right:10px;
}
.halfbtnb {
    font-size:40px;
    width: 50%;
}
