.btn {
    display:flex;
    justify-content: space-evenly;
    font-weight: bold;
    border: 3px solid;
    text-decoration: none;
    background-color: #1da1f2;
    color: white;
    border-radius: 23px;
    padding: 0.3em 0.3em;
    text-align: center;
}

.memobtn {
    font-size:80px;
}

.btnareatwo {
    width:100%;
    font-size: 40px;
    display: flex;
    margin-top: 10px;
}

.btnareatwo > .btn {
    width: calc((100% - 10px) / 2);
    margin-right: 10px;
}

.btnareatwo > .btn:nth-child(even) {
    margin-right:0;
}

@media screen and (max-width: 576px) {
    .btnareatwo {
        width:100%;
        font-size: 40px;
        flex-wrap:wrap;
        margin-top: 10px;
    }

    .btnareatwo > .btn {
        width:100%;
        margin-right: 0px;
    }

    .btnareatwo > .btn:nth-child(even) {
        margin-top:10;
    }
}
