body {
    margin: 0px 0px;
}

.content {
    padding: 10px 10px;
}

.headfoot {
    display:flex;
    align-items: center;
    margin: 0px 0px;
    padding: 12px;
    background-color:#1da1f2;
    color:#fff;
}

header {
    justify-content: flex-start;
    /* position:fixed; */
}

footer {
    justify-content: flex-end;
    font-size:15px;
    margin-left: 50px;
}
.logo {
    font-size: 20px;
    font-weight:bold;
    color:#fff;
    padding:0 5px;
    margin:0 10 0 0px;
    border: 5px solid;
    border-color:#fff;
    border-radius: 50px;
    text-decoration: none;
}

.title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0pt;
    margin:0px 0px;
}

.hamberger {
    margin-left: auto;
    padding: 0 10 0 0px;
    font-size: 20px;
    font-weight: bold;
}

th {
    background-color: #999;
    color: #fff;
    padding:5px 10px;
}

td {
    border: solid 1px #aaa;
    color: #999;
    padding: 5px 10px;
}

.navi {
    display:flex;
}

.navibtn {
    width:20%;
    justify-content: space-around;
    box-sizing: border-box;
    font-weight: bold;
    border: 3px solid;
    text-decoration: none;
    color: white;
    border-radius: 13px;
    padding: 0.3em 0.3em;
    text-align: center;
}

.nav1{
    background: linear-gradient(aqua 50%, transparent);
}
.nav2{
    background: linear-gradient(#1df2cf 50%, transparent);
}
.nav3{
    background: linear-gradient(#aff035 50%, transparent);
}
.nav4{
    background: linear-gradient(#e92b2b 50%, transparent);
}
.nav5{
    background: linear-gradient(#f2a71d 50%, transparent);
}

.side {
    width:100%;
}

.sidebtn {
    display:block;
    box-sizing: border-box;
    padding: 0.3em 0.3em;
    border: 3px solid;
    text-align: center;
    font-size:26px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(255, 255, 0, 0.829);
}

.sidebtn2 {
    background-color: blue;
}

.sidebtn3 {
    background-color: crimson;
}



@media screen and (min-width: 992px) {
    .sideContent{
        width:100%;
        display:flex;
        flex-direction: row-reverse;
    }

    .side {
        width:250px;
        height:100%;
    }

    .sidebtn {
        width: 250px;
    }

    .content {
        padding: 10px 10px;
        flex-grow:1;
    }

}
