body {
    margin: 0px 0px;
}

.content {
    padding: 10px 10px;
}

.headfoot {
    display:flex;
    align-items: center;
    margin: 0px 0px;
    padding: 12px;
    background-color:#1da1f2;
    color:#fff;
}

header {
    justify-content: flex-start;
}

footer {
    justify-content: flex-end;
    font-size:15px;
    margin-left: 50px;
}
.logo {
    font-size: 20px;
    font-weight:bold;
    color:#fff;
    padding:0 5px;
    margin:0 10 0 0px;
    border: 5px solid;
    border-color:#fff;
    border-radius: 50px;
    text-decoration: none;
}

.title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0pt;
    margin:0px 0px;
}

.hamberger {
    margin-left: auto;
    padding: 0 10 0 0px;
    font-size: 20px;
    font-weight: bold;
}

th {
    background-color: #999;
    color: #fff;
    padding:5px 10px;
}

td {
    border: solid 1px #aaa;
    color: #999;
    padding: 5px 10px;
}
